.spinner {
  display: inline-block;
  width: 100%;
  height: 80px;
}
.spinner:after {
  content: " ";
  display: block;
  text-align: center;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fa6980;
  border-color: #fa6980 transparent #fa6980 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
