.blog-section {
  margin-top: -16rem;
  padding-top: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.blog-ctn {
  .blog-title {
    padding: 1.6rem;
    margin-bottom: 2.8rem;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: bold;
  }
}
.blog-layout {
  .blog-side-column {
    display: none;
  }
}

.blog-main-column {
  max-width: 72rem;
  .blog-main-list {
    display: flex;
    flex-direction: column;
  }
}
.blog-main-list {
  .blog-item {
    margin-bottom: 4.1rem;
  }
}

@media screen and(min-width:1024px) {
  .blog-section {
    margin-top: -27rem;
    padding-top: 7rem;
  }
  .blog-ctn {
    padding: none;
  }

  .blog-layout {
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    .blog-main-column {
      flex: 3;
    }
    .blog-side-column {
      max-width: 35rem;
      display: initial;
      flex: 1;
    }
  }

  .blog-side-list {
    .side-item {
      margin-bottom: 4rem;
    }
  }
}
